[project]
	description = BrainFuck compiler implemented in C
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/xuxiang (dlutxx)
[access "refs/for/refs/*"]
	read = group user/xuxiang (dlutxx)
	push = group user/xuxiang (dlutxx)
	label-Code-Review = -2..+2 group user/xuxiang (dlutxx)
	label-Verified = -1..+1 group user/xuxiang (dlutxx)
	rebase = group user/xuxiang (dlutxx)
	removeReviewer = group user/xuxiang (dlutxx)
	submit = group user/xuxiang (dlutxx)
[access "refs/heads/*"]
	read = group user/xuxiang (dlutxx)
	create = group user/xuxiang (dlutxx)
	push = +force group user/xuxiang (dlutxx)
	pushMerge = group user/xuxiang (dlutxx)
[access "refs/tags/*"]
	push = +force group user/xuxiang (dlutxx)
	pushTag = group user/xuxiang (dlutxx)
	pushSignedTag = group user/xuxiang (dlutxx)
